# This is the file that you add your
# "include" use a comment "#" in
# front of it to disable that 'cfg'

##----***Enabled***----##
[include shell_command.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include steppers_drivers.cfg]
[include KAMP_Settings.cfg]
[include runout.cfg]
[include fan.cfg]
[include retraction.cfg]
[include btt_lis2dw.cfg]
[include btt_eddy.cfg]
[include maintenance.cfg]
[include tool_head.cfg]
[include bed.cfg]
[include speed_test.cfg]
[include filament_setting.cfg]
[include secrets.conf]
##----***Disabled***----##
#[include mcu_flasher.cfg]
#[include sensorless.cfg]
#[include klipper-macros/*.cfg]
#[include klipper-macros/optional/lcd_menus.cfg]
#[include microprobe.cfg]
#[include ercf_hardware.cfg]
##----***Temporary-Disabled***----##
#[include m300.cfg]
#[include display.cfg]
#[include timelapse.cfg]