#############################################
##               MCU_INFO                  ##
#############################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_2C0011000851313332323730-if00
is_non_critical: False
#baud: 250000
#canbus_uuid:
#canbus_interface:
restart_method: command
#   This controls the mechanism the host will use to reset the
#   micro-controller. The choices are 'arduino', 'cheetah', 'rpi_usb',
#   and 'command'. The 'arduino' method (toggle DTR) is common on
#   Arduino boards and clones. The 'cheetah' method is a special
#   method needed for some Fysetc Cheetah boards. The 'rpi_usb' method
#   is useful on Raspberry Pi boards with micro-controllers powered
#   over USB - it briefly disables power to all USB ports to
#   accomplish a micro-controller reset. The 'command' method involves
#   sending a Kalico command to the micro-controller so that it can
#   reset itself. The default is 'arduino' if the micro-controller
#   communicates over a serial port, 'command' otherwise.

[mcu btt_lis2dw]
serial: /dev/serial/by-id/usb-Klipper_rp2040_4547415054033A2A-if00
restart_method: command
is_non_critical: True # Kalico Option only comment `#` if you are using OG Klipper

[mcu eddy]
serial: /dev/serial/by-id/usb-Klipper_rp2040_45474E621B0CF60A-if00
restart_method: command
is_non_critical: True # Kalico Option only comment `#` if you are using OG Klipper

#[mcu mmu]
#serial: /dev/serial/by-id/usb-Seeed_Seeed_XIAO_M0_9755CAAD5154305146202020FF0D1D1D-if00
#restart_method: command
#is_non_critical: True

## Enraged Rabbit : Carrot Feeder config file for ERCF EASY BRD v1.1
# This file contains common pin mappings for the Seeeduino XIAO.
# To use this config, the firmware should be compiled for the
# SAMD21G18 with "Internal clock" and a "8KiB bootloader".
# This config sample assume you set the two J6 jumpers on 1-2 and 4-5, i.e. [..].[..]

#[mcu ercf]
#serial: /dev/serial/by-id/usb-Klipper_samd21g18a_B2D7B2694C57535020312E34221E01FF-if00
#serial: /dev/serial/by-id/usb-Seeed_Seeed_XIAO_M0_9755CAAD5154305146202020FF0D1D1D-if00
#restart_method: command
#is_non_critical: True
