[gcode_macro Probe_Deploy]
gcode:
    SET_PIN PIN=probe_enable VALUE=1

[gcode_macro Probe_Stow]
gcode:
    SET_PIN PIN=probe_enable VALUE=0


[output_pin probe_enable]
pin: PE5  # Set to the control pin on your board
value: 0

[probe]
pin: ^!PC0  # NOTE FOR V2 users: Set this to ^!PC0 to set the low level trigger
deactivate_on_each_sample: False
x_offset: -37
y_offset: -2
#z_offset: 3 # Uncomment if starting fresh; Distance should be enough to keep the z-offset positive.
samples: 2
samples_result: average # median
sample_retract_dist: 10.0
samples_tolerance: 0.02
samples_tolerance_retries: 10
drop_first_result: False # True
speed: 7.0
#   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
lift_speed:10.0
#   Speed (in mm/s) of the Z axis when lifting the probe between
#   samples. The default is to use the same value as the 'speed'
#   parameter.
activate_gcode:
    Probe_Deploy
    G4 P800
#   A list of G-Code commands to execute prior to each probe attempt.
#   See docs/Command_Templates.md for G-Code format. This may be
#   useful if the probe needs to be activated in some way. Do not
#   issue any commands here that move the toolhead (eg, G1). The
#   default is to not run any special G-Code commands on activation.
deactivate_gcode:
    Probe_Stow
    G4 P210
#   A list of G-Code commands to execute after each probe attempt
#   completes. See docs/Command_Templates.md for G-Code format. Do not
#   issue any commands here that move the toolhead. The default is to
#   not run any special G-Code commands on deactivation.