# This file contains common pin mappings for the BigTreeTech SKR 3.
# This board can ship with one of two chips, STM32H743 or STM32H723.
# To use this config, during "make menuconfig" enable "low-level
# options", "STM32H743" or "STM32H723", "NO bootloader",
# and "25MHz clock".

# See docs/Config_Reference.md for a description of parameters.

#############################################
##               MCU_INFO                  ##
#############################################


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_2C0011000851313332323730-if00
is_non_critical: False
baud: 250000
#canbus_uuid:
#canbus_interface:
restart_method: command
#   This controls the mechanism the host will use to reset the
#   micro-controller. The choices are 'arduino', 'cheetah', 'rpi_usb',
#   and 'command'. The 'arduino' method (toggle DTR) is common on
#   Arduino boards and clones. The 'cheetah' method is a special
#   method needed for some Fysetc Cheetah boards. The 'rpi_usb' method
#   is useful on Raspberry Pi boards with micro-controllers powered
#   over USB - it briefly disables power to all USB ports to
#   accomplish a micro-controller reset. The 'command' method involves
#   sending a Kalico command to the micro-controller so that it can
#   reset itself. The default is 'arduino' if the micro-controller
#   communicates over a serial port, 'command' otherwise.


#############################################
##              PRINTER_INFO               ##
#############################################

[printer]
kinematics: limited_corexy
max_velocity: 450
max_z_velocity: 20
max_accel: 78000
max_x_accel: 60000
max_y_accel: 40000
max_z_accel: 800
square_corner_velocity: 20
minimum_cruise_ratio: 0.42
scale_xy_accel: True
#   When True, scales the XY limits by the current tool head acceleration.
#   The factor is: slicer accel / max(max_x_accel, max_y_accel).


##############################################
##          INCLUDE CONFIGURATION           ##
##############################################
[include includes.cfg]


[virtual_sdcard]
path: /home/octo/punisher_data/gcodes
on_error_gcode: CANCEL_PRINT # TURN_OFF_HEATERS Changed 20240415 new default
with_subdirs: True
#   Enable scanning of subdirectories for the menu and for the
#   M20 and M23 commands. The default is False.


[display_status]


[force_move]
enable_force_move: True


[exclude_object]
enable_exclude_object: True


[endstop_phase]


[skew_correction]

     
[save_variables]
filename: ~/punisher_data/config/variables.cfg
#   Required - provide a filename that would be used to save the
#   variables to disk e.g. ~/variables.cfg


[gcode_arcs]
resolution: 0.1
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.


[respond]
default_type: echo
#   Sets the default prefix of the "M118" and "RESPOND" output to one
#   of the following:
#     echo: "echo: " (This is the default)
#     command: "// "
#     error: "!! "
default_prefix: echo:
#   Directly sets the default prefix. If present, this value will
#   override the "default_type".
enable_respond: True


[danger_options]
error_on_unused_config_options: False
#   If an unused config option or section should cause an error
#   if False, will warn but allow klipper to still run.
#   The default is True.
allow_plugin_override: True
#   Allows modules in `plugins` to override modules of the same name in `extras`
#   The default is False.
multi_mcu_trsync_timeout: 0.025
#   The timeout (in seconds) for MCU synchronization during the homing process when
#   multiple MCUs are in use. The default is 0.025
homing_elapsed_distance_tolerance: 0.5
#   Tolerance (in mm) for distance moved in the second homing. Ensures the
#   second homing distance closely matches the `min_home_dist` when using
#   sensorless homing. The default is 0.5mm.
#temp_ignore_limits: True # False
#   When set to true, this parameter ignores the min_value and max_value
#   limits for temperature sensors. It prevents shutdowns due to
#   'ADC out of range' and similar errors by allowing readings outside the
#   specified range without triggering a shutdown. The default is False.
autosave_includes: True
#   When set to true, SAVE_CONFIG will recursively read [include ...] blocks
#   for conflicts to autosave data. Any configurations updated will be backed
#   up to configs/config_backups.
bgflush_extra_time: 0.250
#   This allows to set extra flush time (in seconds). Under certain conditions,
#   a low value will result in an error if message is not get flushed, a high value
#   (0.250) will result in homing/probing latency. The default is 0.250
#homing_start_delay: 0.001
#   How long to dwell before beginning a drip move for homing
#endstop_sample_time: 0.000015
#   How often the MCU should sample the endstop state
#endstop_sample_count: 4
#   How many times we should check the endstop state when homing
#   Unless your endstop is noisy and unreliable, you should be able to lower this to 1
# Logging options:
#minimal_logging: False
#   Set all log parameters log options to False. The default is False.
log_statistics: True
#   If statistics should be logged
#   (helpful for keeping the log clean during development)
#   The default is True.
log_config_file_at_startup: True
#   If the config file should be logged at startup
#   The default is True.
log_bed_mesh_at_startup: True
#   If the bed mesh should be logged at startup
#   (helpful for keeping the log clean during development)
#   The default is True.
log_shutdown_info: True
#   If we should log detailed crash info when an exception occurs
#   Most of it is overly-verbose and fluff and we still get a stack trace
#   for normal exceptions, so setting to False can help save time while developing
#   The default is True.
log_velocity_limit_changes: True
#   If changes to velocity limits should be logged. If False, velocity limits will only
#   be logged at rollover. Some slicers emit very frequent SET_VELOCITY_LIMIT commands
#   The default is True
log_pressure_advance_changes: True
#   If changes to pressure advance should be logged. If false, pressure advance data
#   will only be logged at rollover.
#   The default is True
log_serial_reader_warnings: True
log_startup_info: True
log_webhook_method_register_messages: False

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 80.00
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.026056, -0.026056, -0.038493, -0.050997, -0.063534
#*# 	-0.013668, -0.013668, -0.038493, -0.063534, -0.073596
#*# 	-0.013668, -0.013668, -0.038493, -0.050997, -0.063534
#*# 	-0.026056, -0.026056, -0.050997, -0.063534, -0.063534
#*# 	-0.026056, -0.038493, -0.063534, -0.063534, -0.063534
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 107.5
#*# max_x = 257.5
#*# min_y = 107.5
#*# max_y = 257.5
#*#
#*# [probe]
#*# z_offset = 0.180
#*#
#*# [input_shaper]
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 16, 15, 17
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 15
#*# calibration_16 = gASVygMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwVbnVtcHkuY29yZS5tdWx0aWFycmF5lIwMX3JlY29uc3RydWN0lJOUjAVudW1weZSMB25kYXJyYXmUk5RLAIWUQwFilIeUUpQoSwFLCoWUaAyMBWR0eXBllJOUjAJmOJSJiIeUUpQoSwOMATyUTk5OSv////9K/////0sAdJRiiUNQEWv56S5Y9T8LVOMZBCj9P6sZ8Tw/YOk/Ddg9h8LQ5D/o19+soAvNP14okokHIuW/s6ZvlAppoT/93fTDBjjxP3/gSl2k8r4/bNmexcLm2L+UdJRijAZkb21haW6UaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxD3elDfCMyUPtp3cJ+hIJU+lHSUYowGd2luZG93lGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGKMB19zeW1ib2yUjAF4lIwGc3ltYm9slGgsdWKMCWZ0b2hfaGlnaJRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1BAYpt0ReYaQDY1vTIqdglAbw/GcQN8+T89kWGe8kgFQLbYr/V5sPA/E+6KCpXhFsBLvMTfXBq1P3W7X9wZjCJAwL4ScOX03T/zF3UVsh0QwJR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQ6zs3eswdlT4mOkmRPjCVPpR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijARodG9mlGgFKYGUfZQoaAhoC2gOSwCFlGgQh5RSlChLAUsKhZRoGIlDUCipDa0KC5U+AnfVLRT1ID5uaPVaUtoRviNTmX184gI+nbCpM7Ys7L064iFobCLyvUPVYjbHG7s9ajMcpzHf9D3u9sXcSZGlPZpx0mL2Ity9lHSUYmgdaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAejn/+rut2PwCApFZM7BNAlHSUYmgkaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAAAAAAADwvwAAAAAAAPA/lHSUYmgraCxoLWgsdWKMB2hfcmFuZ2WUXZQoRz92667+f44eR0At/+j7uRf9ZYwHZl9yYW5nZZRdlChHQUgqAqX6SABHQUiecb8ekABljAJkY5RLEHUu
#*# calibration_15 = gASVygMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwVbnVtcHkuY29yZS5tdWx0aWFycmF5lIwMX3JlY29uc3RydWN0lJOUjAVudW1weZSMB25kYXJyYXmUk5RLAIWUQwFilIeUUpQoSwFLCoWUaAyMBWR0eXBllJOUjAJmOJSJiIeUUpQoSwOMATyUTk5OSv////9K/////0sAdJRiiUNQd+hbfKLd9z+QyalyNs3/P3bLFaH98+k/xEUnFQNE2T8w6ZkB8Ie4P6rvidCBqLo/WkoQpUc0vT8Zf4naoWnHv/o4+UhzoZW/KNLFZpajxj+UdJRijAZkb21haW6UaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxC2gZmQT/uUPoc8hYAqF5U+lHSUYowGd2luZG93lGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGKMB19zeW1ib2yUjAF4lIwGc3ltYm9slGgsdWKMCWZ0b2hfaGlnaJRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1DthqZgEkscQDOXD/sg5gxAzQ2jUDrlAEDvkKm53IYLQLZY9fd3sPW/QvVfzg50JMCFT1eVVmoSQIENYx4DSjFA81KrS/F8BMCghXJky6IhwJR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQ/3UvtRcWlT4djA3C9B6VPpR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijARodG9mlGgFKYGUfZQoaAhoC2gOSwCFlGgQh5RSlChLAUsKhZRoGIlDUPxLdDAJD5U+bmEW+f2hBz5CrhqB0mH1vcGlxuDlUOw97jEiO7F1Pj24Oivcki31vRgNUCJZit29JE6clctYAD6qjVQhMinVPQoOfCuhFfG9lHSUYmgdaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxB01jNCtUxqPwDfgFqp6xNAlHSUYmgkaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAAAAAAADwvwAAAAAAAPA/lHSUYmgraCxoLWgsdWKMB2hfcmFuZ2WUXZQoRz9qTLVCM9Z0R0At/ks1uKZDZYwHZl9yYW5nZZRdlChHQUg9yiUW4ABHQUhm+QOy4ABljAJkY5RLD3Uu
#*# calibration_17 = gASVygMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwVbnVtcHkuY29yZS5tdWx0aWFycmF5lIwMX3JlY29uc3RydWN0lJOUjAVudW1weZSMB25kYXJyYXmUk5RLAIWUQwFilIeUUpQoSwFLCoWUaAyMBWR0eXBllJOUjAJmOJSJiIeUUpQoSwOMATyUTk5OSv////9K/////0sAdJRiiUNQrVl7BEq8+D/IVVB+KXr/P2+wjXOHN+c/sLINFStX8z8YRtOYSQbWP7owFhyuzAbAXSGMErtrzb8N+mVfy4UMQB08EepTo74/uF68uIp79r+UdJRijAZkb21haW6UaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxBGooGpuDCVPqyT4CbTRpU+lHSUYowGd2luZG93lGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGKMB19zeW1ib2yUjAF4lIwGc3ltYm9slGgsdWKMCWZ0b2hfaGlnaJRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1AEnVNE4J4cQBM9KEj1Bg1AqzrqLooEAkB00kJGhV8SQIIJybe4Qvm/0fYD2+MNLMBEb9l8Ph0TQE4SGhdh9TVAblfBeI30BcC2SxGng8UlwJR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQCGBkWutFlT6h2zxGk02VPpR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijARodG9mlGgFKYGUfZQoaAhoC2gOSwCFlGgQh5RSlChLAUsKhZRoGIlDUNJ8TZYnQJU+Eh+eTdi1Aj4sTnro97PzvZnzxqibCvc9VmBLxiZU8z2mmMDQwfQPvgX/UzupDQS+zaaodY3wFj5/F1oW6s72PfAy0AGYCQa+lHSUYmgdaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAwpp9FX0OPwCgiCmY8RNAlHSUYmgkaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAAAAAAADwvwAAAAAAAPA/lHSUYmgraCxoLWgsdWKMB2hfcmFuZ2WUXZQoRz8OfRV9msIAR0At/zqFsCCrZYwHZl9yYW5nZZRdlChHQUgIvX6qgABHQUgpd2takABljAJkY5RLEXUu
