# This file contains common pin mappings for the bigtreetech lis2dw v1.0
# To use this config, the firmware should be compiled for the
# RP2040 with "USB"
# The micro-controller will be used to control the components on the nozzle.
# See docs/Config_Reference.md for a description of parameters.

[lis2dw]
cs_pin: btt_lis2dw:gpio9
#spi_bus: spi1a
spi_software_sclk_pin: btt_lis2dw:gpio10
spi_software_mosi_pin: btt_lis2dw:gpio11
spi_software_miso_pin: btt_lis2dw:gpio8
axes_map: -x, -z, -y   #x, y, -z

[resonance_tester]
probe_points: 180.5, 200.5, 20
#   A list of X, Y, Z coordinates of points (one point per line) to test
#   resonances at. At least one point is required. Make sure that all
#   points with some safety margin in XY plane (~a few centimeters)
#   are reachable by the toolhead.
#accel_chips:
#   A comma-separated list of accelerometer chips to use for measurements.
#   For example, "accel_chips: adxl345 head, adxl345 bed" would use two
#   separate accelerometer chips. This parameter has priority over the
#   other accelerometer parameters if specified.
accel_chip: lis2dw
#   A name of the accelerometer chip to use for measurements. If
#   adxl345 chip was defined without an explicit name, this parameter
#   can simply reference it as "accel_chip: adxl345", otherwise an
#   explicit name must be supplied as well, e.g. "accel_chip: adxl345
#   my_chip_name". Either this, 'accel_chips', or the next two parameters
#   must be set.
#accel_chip_x:
#accel_chip_y:
#   Names of the accelerometer chips to use for measurements for each
#   of the axis. Can be useful, for instance, on bed slinger printer,
#   if two separate accelerometers are mounted on the bed (for Y axis)
#   and on the toolhead (for X axis). These parameters have the same
#   format as 'accel_chip' parameter. Only one of 'accel_chips', 'accel_chip',
#   or these two parameters must be provided.
max_smoothing: 0.25
#   Maximum input shaper smoothing to allow for each axis during shaper
#   auto-calibration (with 'SHAPER_CALIBRATE' command). By default no
#   maximum smoothing is specified. Refer to Measuring_Resonances guide
#   for more details on using this feature.
move_speed: 50
#   The speed (in mm/s) to move the toolhead to and between test points
#   during the calibration. The default is 50.
min_freq: 5
#   Minimum frequency to test for resonances. The default is 5 Hz.
max_freq: 133.33
#   Maximum frequency to test for resonances. The default is 133.33 Hz.
accel_per_hz: 75
#   This parameter is used to determine which acceleration to use to
#   test a specific frequency: accel = accel_per_hz * freq. Higher the
#   value, the higher is the energy of the oscillations. Can be set to
#   a lower than the default value if the resonances get too strong on
#   the printer. However, lower values make measurements of
#   high-frequency resonances less precise. The default value is 75
#   (mm/sec).
#   Set it to 60 as a good baseline when using the sweeping resonance tester.
hz_per_sec: 1
#   Determines the speed of the test. When testing all frequencies in
#   range [min_freq, max_freq], each second the frequency increases by
#   hz_per_sec. Small values make the test slow, and the large values
#   will decrease the precision of the test. The default value is 1.0
#   (Hz/sec == sec^-2).
sweeping_accel: 400
#   An acceleration of slow sweeping moves. The default is 400 mm/sec^2.
sweeping_period: 1.2
#   A period of slow sweeping moves. Avoid setting it to a too small
#   non-zero value in order to not poison the measurements.
#   To enable it, start by setting it to 1.2 sec which is a good all-round
#   choice. Set it to 0 do disable it. The default is 0.


[input_shaper]
enabled_extruders: extruder
smoother_freq_x: 46.000 #un-comment Bleeding_edge_v2
smoother_freq_y: 35.600 #un-comment Bleeding_edge_v2
#shaper_type: mzv #un-comment to use for both X & Y axis
shaper_type_x: smooth_zv #un-comment Bleeding_edge_v2
shaper_type_y: smooth_zv #un-comment Bleeding_edge_v2
#damping_ratio_x: 0.054 #un-comment to use performance shaper
#damping_ratio_y: 0.053 #un-comment to use performance shaper


[shaketune]
result_folder: ~/punisher_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

[ringing_test]
size: 100
#   X-Y Size of tower footprint (mm)
height: 60
#   Height of of tower (mm)
band: 5
#   Height for each ringing step (mm)
perimeters: 2
#   Number of perimeters to be printed for the tower
velocity: 80
#   Is the velocity one must use as V in a formula V * N / D when
#   calculating the resonance frequency. N and D are the number of
#   oscillations and the distance between them as usual:
brim_velocity: 30
#   Speed for brim printing in (mm/s)
accel_start: 1500
#   The acceleration of the start of the test
accel_step: 500
#   The increment of the acceleration every `band` (mm/s^2)
layer_height: 0.2
first_layer_height: 0.22
filament_diameter: 1.75

#   Parameters that are computed automatically, but may be adjusted if necessary

#center_x:
#   Center of the bed by default (if detected correctly)
#center_y:
#   Center of the bed by default (if detected correctly)
#brim_width:
#   Computed based on the model size, but may be increased

#   Parameters that are better left at their default values

#notch: 1
#   Size of the notch in mm
#notch_offset:
#   0.275 * size by default
#deceleration_points: 100


[pa_test]
size_x: 100
#    X dimension tower size  (mm)
size_y: 50
#    Y dimension tower size  (mm)
height: 50
#   Height of tower (mm)
origin_x: 225.5
#   Center of the bed in x
origin_y: 185.5
#   Center of the bed in y
layer_height: 0.2
first_layer_height: 0.22
perimeters: 2
#   Number of perimeters to be printed for the tower
brim_width: 10
#   Width of brim (mm)
slow_velocity: 20
#   Start velocity for PA test segment (mm/s)
medium_velocity: 50
#   Medium velocity for PA test segment (mm/s)
fast_velocity: 80
#   End velocity for PA test segment (mm/s)
filament_diameter: 1.75


[gcode_macro MPC_Extruder]
gcode:
  MPC_CALIBRATE HEATER=extruder FAN_BREAKPOINTS=9

[gcode_macro shake_warm_up]
gcode:
  TEST_SPEED SPEED=300 ACCEL=5000 ITERATIONS=10


[delayed_gcode _FIRST_POWER_UP]
initial_duration: 2.0
gcode:
  G4 P4000
  ACCELEROMETER_QUERY


[delayed_gcode _POWER_UP]
initial_duration: 7.0
gcode:
  G4 P2000
  ACCELEROMETER_QUERY
  G4 P1000
  M117 ACCEL_LOADED!


[gcode_macro CHECK_ACCEL]
gcode:
  ACCELEROMETER_QUERY


[gcode_macro Calibrate_Home]
gcode:
  M190 S80
  M109 S180
  _B28
  G4 P1000
#  PROBE_CALIBRATE
  PROBE_EDDY_NG_SETUP


[gcode_macro eddy_tap]
gcode:
  M190 S50
  M109 S180
  PROBE_EDDY_NG_TAP
  

#Using G0 Linear moves because no extrusion or E axis moves, changed to G1 for issues with movement afterwards
[gcode_macro TIP_CLEAN]
gcode:
  SAVE_GCODE_STATE NAME=tip_clean_state
  {% set wipe_count = 10|int %} # each count is a wipe in one-direction
      G90
      G1 F1500
      G1 X50 Y382
  {% for wipe in range(wipe_count) %} # simple X-axis back-and-forth wipe
      G1 X{50 + (40 * (loop.index is even))}
  {% endfor %}
  RESTORE_GCODE_STATE NAME=tip_clean_state MOVE_SPEED=100 MOVE=0


[gcode_macro calibrate_extruder]
gcode:
  {% set length = params.LENGTH|default(100)|float %} # load length
  {% set target = params.TARGET|float %} # Test temperature
  {% set min_temp = printer.configfile.settings.extruder.min_extrude_temp|int %} # Min safe temp
  {% if not printer.extruder.can_extrude %} # Verify extruder is hot enough
  RESPOND TYPE=error MSG="Below minimum temp. Heating extruder..."
  M109 S{min_temp|int} # Heat up to min_extrude_temp
  {% endif %}
  {% if params.TARGET is defined %} 
    {% if min_temp|int < target|float %} # If current temp or minimum temp is below target
    M109 S{target} # Heat nozzle to target temperature
      M117 Heating nozzle...
    {% endif %}
  {% endif %}
  M117 EXTRUDING...
  G92 E0
  G91 E{length} F60
  G92 E0

# Description of Rotation Distance: https://github.com/Klipper3d/klipper/blob/master/docs/Rotation_Distance.md

[extruder]
step_pin: PD15
dir_pin: PD14 # ! is used to switch Direction
enable_pin: !PC7
heater_pin: PB3
sensor_pin: PA2
# Trianglelab Thermistor 
sensor_type: Trianglelab-NTC100K-B3950
#   Type of sensor - common thermistors are "EPCOS 100K B57560G104F",
#   "ATC Semitec 104GT-2", "ATC Semitec 104NT-4-R025H42G", "Generic
#   3950","Honeywell 100K 135-104LAG-J01", "NTC 100K MGB18-104F39050L32",
#   "SliceEngineering 450", and "TDK NTCG104LH104JT1". See the
#   "Temperature sensors" section for other sensors. This parameter
#   must be provided. I use a custom sensor!
pullup_resistor: 4700
#   The resistance (in ohms) of the pullup attached to the thermistor.
#   This parameter is only valid when the sensor is a thermistor. The
#   default is 4700 ohms.
heater_power: 100
gear_ratio: 44:10, 37:17  # HDX Lite/Protoxtruder/LGX Lite, Gear ratio whole number 9.54647:1, Advance Value: 25.12 , Drive Gear Teeth: 10 , Reduction Gear Teeth: 44 , Extrusion Reduction Gear: 17 Extrusion Gear Teeth: 37
microsteps: 16 #36mm motors "Not" worth turning above 16 microsteps
high_precision_step_compress: False
rotation_distance: 52.961524 # Set for HDX Lite/Protoxtruder/LGX Lite with Gear Ratio 52.961524 ; Use https://3dprintbeginner.com/rotation-distance-calculator/ to calculate
full_steps_per_rotation: 200   # 200 #200 for 1.8 degree, 400 for 0.9 degree
step_pulse_duration: 0.000000100
nozzle_diameter: 0.400
filament_diameter: 1.750
min_extrude_temp: 190
min_temp: 0
max_temp: 300
max_power: 1.0
#   The maximum power (expressed as a value from 0.0 to 1.0) that the
#   heater_pin may be set to. The value 1.0 allows the pin to be set
#   fully enabled for extended periods, while a value of 0.5 would
#   allow the pin to be enabled for no more than half the time. This
#   setting may be used to limit the total power output (over extended
#   periods) to the heater. The default is 1.0.
max_extrude_only_distance: 200.0
#   Maximum length (in mm of raw filament) that a retraction or
#   extrude-only move may have. If a retraction or extrude-only move
#   requests a distance greater than this value it will cause an error
#   to be returned. The default is 50mm.
#max_extrude_cross_section: 0.64
#   Maximum area (in mm^2) of an extrusion cross section (eg,
#   extrusion width multiplied by layer height). This setting prevents
#   excessive amounts of extrusion during relatively small XY moves.
#   If a move requests an extrusion rate that would exceed this value
#   it will cause an error to be returned. The default is: 4.0 *
#   nozzle_diameter^2
#max_extrude_only_velocity: 2000
#max_extrude_only_accel:
#   Maximum velocity (in mm/s) and acceleration (in mm/s^2) of the
#   extruder motor for retractions and extrude-only moves. These
#   settings do not have any impact on normal printing moves. If not
#   specified then they are calculated to match the limit an XY
#   printing move with a cross section of 4.0*nozzle_diameter^2 would
#   have.
smooth_time: 1.0
#   A time value (in seconds) over which temperature measurements will
#   be smoothed to reduce the impact of measurement noise. The default
#   is 1 seconds.
control: mpc
# MPC filament_density & filament_heat_capacity, Auto set by slicer and macro!
# filament_density: 1.27
# filament_heat_capacity: 1.87
cooling_fan: fan
# ambient_temp_sensor:
block_heat_capacity: 34.2813 # 28.0720 # Stock NF Crazy hotblock
sensor_responsiveness: 0.0722210 # 0.0651163 # Stock NF Crazy hotblock
ambient_transfer: 0.121830 # 0.130522 # Stock NF Crazy hotblock
fan_ambient_transfer: 0.12183, 0.19014, 0.214613 # 0.130522, 0.164909, 0.174238 # Stock NF Crazy hotblock 
# per_move_pressure_advance: True # Seems invalid!
#   If true, uses pressure advance constant from trapq when processing moves
#   This causes changes to pressure advance be taken into account immediately,
#   for all moves in the current queue, rather than ~250ms later once the queue gets flushed
pressure_advance: 0.0450
#   The amount of raw filament to push into the extruder during
#   extruder acceleration. An equal amount of filament is retracted
#   during deceleration. It is measured in millimeters per
#   millimeter/second. The default is 0, which disables pressure
#   advance.
pressure_advance_smooth_time: 0.041
#   A time range (in seconds) to use when calculating the average
#   extruder velocity for pressure advance. A larger value results in
#   smoother extruder movements. This parameter may not exceed 200ms.
#   This setting only applies if pressure_advance is non-zero. The
#   default is 0.040 (40 milliseconds)
instantaneous_corner_velocity: 1.000
#   The maximum instantaneous velocity change (in mm/s) of the
#   extruder during the junction of two moves. The default is 1mm/s.
maximum_retract: 3.0
target_reach_time: 2.0
smoothing: 0.83
min_ambient_change: 1
steady_state_rate: 0.5


[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg
tuning_goal: performance #auto, silent, performance, and autoswitch/ do not use 
extra_hysteresis: 2 #0 to 8
voltage: 24 #0 to 60/leave at 24
pwm_freq_target: 55e3 #10e3 to 60e3
[tmc2209 extruder]
uart_pin: PC6
run_current: 0.620
diag_pin: PC2  # Filament runout stop pin
interpolate: False #Always False!
stealthchop_threshold: 0  #Always 0!
sense_resistor: 0.110
driver_IHOLDDELAY: 8 #8
driver_TPOWERDOWN: 20 #20
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 3
driver_TBL: 1
#driver_DEDGE: 1
#driver_INTPOL: 0
driver_PWM_OFS: 36
driver_PWM_GRAD: 18
driver_PWM_FREQ: 2
driver_PWM_AUTOGRAD: 1  #True
driver_PWM_AUTOSCALE: 1  #True
driver_PWM_REG: 8
driver_PWM_LIM: 12


[verify_heater extruder]
max_error: 120
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 30
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.
