[include shell_command.cfg]
[include mainsail.cfg]
[include macros.cfg]
#[include timelapse.cfg]
#[include KAMP_Settings.cfg]
[include runout.cfg]
[include stepper.cfg]
[include retraction.cfg]
[include display.cfg]
[include maintenance.cfg]
[include bed.cfg]
[include fan.cfg]
[include tool_head.cfg]
[include speed_test.cfg]
#[include klipper-macros/*.cfg]
#[include klipper-macros/optional/lcd_menus.cfg]