# This is the file that you add your
# "include" use a comment "#" in
# front of it to disable that 'cfg'

##----Enabled----##
[include shell_command.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include KAMP_Settings.cfg]
[include runout.cfg]
[include stepper.cfg]
[include retraction.cfg]
[include maintenance.cfg]
[include bed.cfg]
[include fan.cfg]
[include tool_head.cfg]
[include speed_test.cfg]
##----Disabled----##
#[include klipper-macros/*.cfg]
#[include klipper-macros/optional/lcd_menus.cfg]
#[include timelapse.cfg]
#[include display.cfg]