[safe_z_home]
home_xy_position: 158.0, 109.5
speed: 120
z_hop: 10
z_hop_speed: 15
move_to_previous: False
#   When set to True, the X and Y axes are reset to their previous
#   positions after Z axis homing. The default is False.

#[multi_pin bedfan_pins]
#pins: PB6, PB7

#[duplicate_pin_override]
#pins: PB6

#[part_cooling_fan]
#pin: PB6
#heater: heater_bed
#heater_temp: 70

[heater_bed]
heater_pin: PD7
sensor_type: EPCOS 100K B57560G104F # Creality bed thermistor
sensor_pin: PA1
min_temp: 10
max_temp: 120
control: pid
#cooling_fan: fan
#heater_power: 300
#heater_temp: 70
pid_kp: 64.542
pid_ki: 0.672
pid_kd: 1549.015

[gcode_macro BED_TRAMMING]
gcode:
  M190 S72
  #M109 S190
  PERCISE_HOME
  G4 P2000
  SCREWS_TILT_CALCULATE

[gcode_macro MANUAL_BED_TRAMMING]
gcode:
  M190 S75
  M109 S190
  PERCISE_HOME
  G4 P2000
  BED_SCREWS_ADJUST

[gcode_macro G29]
gcode:
  BED_MESH_PROFILE load=default

[gcode_macro PID_BED]
gcode:
  PID_CALIBRATE HEATER=heater_bed TARGET=72


# Bed Leveling: https://www.klipper3d.org/Bed_Level.html#determining-thermal-expansion
[bed_mesh]
speed: 180
horizontal_move_z: 10
mesh_min: 5,15
mesh_max: 180,225 # Make sure X,Y here meets these conditions (X+(bltouch+x_offset) < bed X) and (Y+(bltouch+y_offset) < Bed Y)
probe_count: 7,7
mesh_pps: 2,2
fade_start: 0.10
fade_end: 10
move_check_distance: 3 # New ADD 2/22/23
algorithm: bicubic
# relative_reference_index: 40  # New ADD 2/22/23 / not working
bicubic_tension: .5
split_delta_z: .0125


[screws_tilt_adjust]
screw1: 69.5,45.5
screw1_name: front_left
screw2: 229.5,45.5
screw2_name: front_right
screw3: 69.5,212.5
screw3_name: back_left
screw4: 229.5,212.5
screw4_name: back_right
# Additional bed leveling screws. At least two screws must be
# defined.
speed: 150
horizontal_move_z: 10
screw_thread: CW-M4         

#For Manual Bed tramming, using tip and paper
[bed_screws]
screw1: 69.5,45.5
screw1_name: front left screw
#screw1_fine_adjust:
screw2: 229.5,45.5
screw2_name: front right screw
#screw2_fine_adjust:
screw3: 229.5,212.5
screw3_name: rear right screw
#screw3_fine_adjust:
screw4: 69.5,212.5
screw4_name: rear left screw

[z_tilt]
z_positions: -24,132.5
  254,132.5
# A list of X,Y coordinates (one per line; subsequent lines
# indented) describing the location of each bed "pivot point". The
# "pivot point" is the point where the bed attaches to the given Z
# stepper. It is described using nozzle coordinates (the XY position
# of the nozzle if it could move directly above the point). The
# first entry corresponds to stepper_z, the second to stepper_z1,
# the third to stepper_z2, etc. This parameter must be provided.
points: 
  66,109.5
  230,109.5
    #158, 109.5
    #40, 10
    #40, 109.5
    #40, 190
    #158, 10
    #158, 190
    #190, 10
    #190, 109.5
    #190, 190
# A list of X,Y coordinates (one per line; subsequent lines | back |
# indented) that should be probed during a Z_TILT_ADJUST command. | |
# Specify coordinates of the nozzle and be sure the probe is above L z1 z R
# the bed at the given nozzle coordinates. This parameter must be | |
# provided. | front |
speed: 180
horizontal_move_z: 10
retries: 10
# Number of times to retry if the probed points aren't within
# tolerance.
retry_tolerance:0.05
# If retries are enabled then retry if largest and smallest probed
# points differ more than retry_tolerance. Note the smallest unit of
# change here would be a single step. However if you are probing
# more points than steppers then you will likely have a fixed
# minimum value for the range of probed points which you can learn
# by observing command output.
adaptive_horizontal_move_z: true

#[homing_override]
#gcode:
#   A list of G-Code commands to execute in place of G28 commands
#   found in the normal g-code input. See docs/Command_Templates.md
#   for G-Code format. If a G28 is contained in this list of commands
#   then it will invoke the normal homing procedure for the printer.
#   The commands listed here must home all axes. This parameter must
#   be provided.
#axes: xyz
#   The axes to override. For example, if this is set to "z" then the
#   override script will only be run when the z axis is homed (eg, via
#   a "G28" or "G28 Z0" command). Note, the override script should
#   still home all axes. The default is "xyz" which causes the
#   override script to be run in place of all G28 commands.
#set_position_x:
#set_position_y:
#set_position_z:
#   If specified, the printer will assume the axis is at the specified
#   position prior to running the above g-code commands. Setting this
#   disables homing checks for that axis. This may be useful if the
#   head must move prior to invoking the normal G28 mechanism for an
#   axis. The default is to not force a position for an axis.


#[bed_tilt]
#x_adjust: 0
#   The amount to add to each move's Z height for each mm on the X
#   axis. The default is 0.
#y_adjust: 0
#   The amount to add to each move's Z height for each mm on the Y
#   axis. The default is 0.
#z_adjust: 0
#   The amount to add to the Z height when the nozzle is nominally at
#   0, 0. The default is 0.
# The remaining parameters control a BED_TILT_CALIBRATE extended
# g-code command that may be used to calibrate appropriate x and y
# adjustment parameters.
#points:
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a BED_TILT_CALIBRATE
#   command. Specify coordinates of the nozzle and be sure the probe
#   is above the bed at the given nozzle coordinates. The default is
#   to not enable the command.
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.