## ***Enabled***
[include shell_command.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include steppers_drivers.cfg]
[include KAMP_Settings.cfg]
[include fans.cfg]
[include retraction.cfg]
[include bed.cfg]
[include tool_head.cfg]
[include maintenance.cfg]
[include runout.cfg]
[include speed_test.cfg]
## ***Disabled***
#[include sensorless.cfg]
#[include display.cfg]
#[include timelapse.cfg]
#[include octoapp-system.cfg]
#[include octoeverywhere-system.cfg]